script(src="/js/jquery.min.js")
script(src="/js/bootstrap/bootstrap.min.js")
script(src="https://fb.me/react-15.1.0.js")
script(src="https://fb.me/react-dom-15.1.0.js")
script(src="js/material/material.min.js")
script(src="js/material/ripples.min.js")
