doctype html
html
	head
		title= title
		include ../partials/stylesheets.pug
		include ../partials/topscripts.pug
	body
		include ../partials/navbar.pug
		block content
		include ../partials/bottomscripts.pug
