include ../layouts/layout.pug
block content
  .row(style="margin-top: 50px")
    .col-xs-offset-1.col-xs-10
      form(role="form" action="/api/addpoll" method="POST")
        .form-group
          label(for="title") Title:
          input.form-control#title(name="title" type="text")
        .form-group
          label(for="description") Brief Description:
          input.form-control#description(name="description" type="text")
        .form-group
          label(for="options") Options(Each in new line):
          textarea.form-control#options(name="options" rows = "5")
        input#name(type="hidden" name="user" value="1243221")
        button(type="submit" class="btn btn-default") Submit
  script.
    document.getElementById("name").value = getCookie("user");
