include ../layouts/layout.pug
block content
  .row(style="margin-top: 50px")
    .col-xs-offset-1.col-xs-10
      form(role="form" action="/api/addpoll" method="POST")
        .form-group
          label(for="title") Title:
          input.form-control#title(type="text")
        .form-group
          label(for="description") Brief Description:
          input.form-control#description(type="text")
        .form-group
          label(for="options") Options(Each in new line):
          textarea.form-control#options(rows = "3")
        button(type="submit" class="btn btn-default") Submit
  script(src="js/createPoll.js")
